@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --paragraph: 219, 9%, 38%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 333, 98%, 48%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border font-nunito;
  }

  body {
    @apply bg-background text-foreground;
  }

  /** Loader styles start */
  .loader,
  .loader {
    @apply relative size-20;
  }
  .loader div {
    @apply absolute left-2 w-4 bg-orange-100;
    animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .loader div:nth-child(1) {
    @apply left-2;
    animation-delay: -0.24s;
  }
  .loader div:nth-child(2) {
    @apply left-8;
    animation-delay: -0.12s;
  }
  .loader div:nth-child(3) {
    @apply left-14;
    animation-delay: 0s;
  }
  @keyframes loader {
    0% {
      @apply top-2 h-16;
    }
    50%,
    100% {
      @apply top-6 h-8;
    }
  }
  /** Loader styles end */

  /** Custom shadow */
  .shadow-custom {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .shadow-search {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar.overflow-auto {
    scrollbar-width: none; /* Firefox */
  }
}
